/*.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}*/

.container {
  width: 90%;
  border: 1px dotted black;
  margin: auto
}

a {
  text-decoration: none;
  color: blue;
}

th {
  text-align: left;
}

body {
  background: url("img/paper_fibers.png");
}

.hidden {
  display: none;
}

.heading {
  text-align: center;
}

.stock_list {
  width: 98%;
  border: 1px solid black;
  margin: auto
}

.stock_detail:nth-child(odd) {
  background: #D6D6D6;
}

.stock_detail {
  /*border: 1px solid green;*/
  display: inline-block;
  width: 100%;
  min-height: 30px;
}

.stock_detail .price {
  /*border: 1px solid blue;*/
  width: 15%;
  display:inline-block;
  text-align: right;
}

.stock_detail .stock_header {
  /*border: 1px solid blue;*/
  font-weight: bold;
  width: 30%;
  display:inline-block;
}

.stock_detail .remove_stock {
  text-decoration: none;
  text-align: right;
  width: 2%;
  /*border: 1px solid blue;*/
  display: inline-block;
  float: right
}

.stock_detail .remove_stock a {
  color: red
}

.stock_detail .shares {
  display: inline-block;
  /*border: 1px solid blue;*/
  text-align: right;
  width: 15%;
}

.stock_detail .user_share_value {
  /*border: 1px solid yellow;*/
  display: inline-block;
  width: 15%;
  text-align: right;
}

#portfolio-total {
  /*border: 1px solid orange;*/
  display: inline-block;
  width: 30%;
  float: right;
  font-weight: bold;
  margin-right: 125px
}

.more_info, .hide_info {
  display: inline-block;

}

.info_column {
  display: inline-block;
  width: 45%;
  /*border: 1px solid red;*/

}

.share_update_form input {
  width: 25%;
  display: inline-block;
  text-align: right;
}

