<div class = "add_stock">
  <form action="users/stocks" method="post">
    <input type = "text" name = "ticker_symbol" placeholder = "Ticker Symbol">
    <input type = "text" name = "share_quantity" placeholder = "Number of Shares">
    <input type = "submit" value= "Add Stock">
  </form>
</div>