<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body >
  <%= yield %>

  <div id="templates" class="hidden">
    <div class="more_detailed_info">
      <div class= "info_column">
        <div class = "day_range">
          <p></p>
        </div>
        <div class = "fifty_day_mvg_avg">
          <p></p>
        </div>

        <div class = "day_change">
          <p></p>
        </div>
      </div>
      <div class="info_column">

      </div>


    </div>

    <div class = "share_update_form">
      <form action="/users/stocks/update" method="post">
        Shares:<input type="text" name="share_qty">
      </form>
    </div>

  </div>

</body>
</html>
